@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: Roboto, serif;
    background-color: #eef0e5;
}

form{
    background: #eef0e5;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 25px 36px 20px 36px;
    border-radius: 15px;
    box-shadow: 0 4px 18px #2e2e2e;
    max-width: 500px;
    margin: 40px auto;
}

label{
    color: #163020;
    margin-top: 10px;
    margin-bottom: 10px;
}

legend{
    margin-bottom: 10px;
    text-decoration: none;
}

fieldset{
    border: 1px solid;
    border-radius: 5px;
    margin: 10px 0 2px 0;
    padding: 12px 10px 12px 10px;
    background-color: #eef0e5;
}

